body{color:#fffafa;
    background-image:url(../Simbolo\ Neuro.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}
a{
    color: white;
    text-decoration: none;
}
header img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #45ab45;


}
.center{
    text-align: center;

}
h1{
    color: green;
    text-align: center;


}

footer img{
    height: 30px;
    width: 30px;
}

footer{
    display: flex;
    justify-content: center;

}
footer a {
    margin: 20px;
    text-align: center;

}
footer p{
    margin: 2px;
}

.container{
    padding: 0px 80px;
}
nav a:hover{ color: #45ab45;

}

h2{
    text-align: center;
}

p{
    margin-top: 20px;
}
h3{
    margin-top: 80px;
}